dataclasses>=0.6,<1.0.0
fire>=0.4.0,<0.5.0
numpy>=1.19.5,<2
pandas>=1.1.5,<2
pyarrow>=6.0.1
tqdm>=4.62.3,<5
faiss-cpu>=1.7.2,<2
fsspec>=2022.1.0
embedding_reader @ git+https://github.com/NiallBrickell/embedding-reader@c48dbb79542ceef7d86115d8bc3ef242c5e6c1c4
